{% extends "base.html" %}

{% block content %}
	
	<div class="row d-flex justify-content-center">			
		<h1>{{user.username}}'s Schedules </h1>
	</div>
	<br>
<p>
	{% set ns = namespace(current_date=e[0]) %}

	{% set cs = namespace(counter=0) %}
	<div class="row d-flex justify-content-center">			
		<table class="table", style="width:90%">
			<thead class="thead-dark">
				<tr>
					<th class="text-center", colspan="3">{{ns.current_date.event_date.date()}}</th>	
				</tr>
				<tr>
					<th class="text-center">Event</th>
					<th class="text-center">Starting Time</th>
					<th class="text-center">Ending Time</th>
				</tr>
			</thead>
			
			{% for data in e %}
				{% if data.event_date.date() != ns.current_date.event_date.date() %}
					{% set ns.current_date = data %}
					<tr>
						{% if cs.counter==1 %}
							<th class="text-center", colspan="3">{{user.username}} has {{cs.counter}} event</th>	
						{% else %}
							<th class="text-center", colspan="3">{{user.username}} has {{cs.counter}} events</th>	
						{% endif %}							
					</tr>
					</table>
					
					{% set cs.counter = 0 %}

					</div>

					<div class="row d-flex justify-content-center">			

						<table class="table", "row d-flex justify-content-center", style="width:90%">
							<thead class="thead-dark">
								<tr>
									<th class="text-center", colspan="3">{{ns.current_date.event_date.date()}}</th>	
								</tr>
								<tr>	
									<th class="text-center"> Event </th>
									<th class="text-center"> Starting Time </th>
									<th class="text-center"> Ending Time </th>
								</tr>
							</thead>
					
				{% endif %}
				<tr>
					<td class="text-center">{{ data.event_name }}</td>
					<td class="text-center">{{ data.event_timeStart.time() }}</td>
					<td class="text-center">{{ data.event_timeEnd.time() }}</td>
				</tr>
				{% set cs.counter=cs.counter+1 %}
			{% endfor %}
		<tr>
			{% if cs.counter==1 %}
				<th class="text-center", colspan="3">{{user.username}} has {{cs.counter}} event</th>	
			{% else %}
				<th class="text-center", colspan="3">{{user.username}} has {{cs.counter}} events</th>	
			{% endif %}
		</tr>
		</table>
	</div>

</p>


{% endblock %}: