{% extends "base.html" %}

{% block content %}

    <h1>Hi {{user.username}} </h1>
	<br><h2> Your schedules <h2>
<p>
	<table class="table table-striped">
        <tr>
            <th> Event </th>
            <th> Date </th>
            <th> Starting Time </th>
			<th> Ending Time </th>
			<th> Actions </th>
        </tr>
        {% for data in e %}
            <tr>
                <td>{{ data.event_name }}</td>
                <td>{{ data.event_date.date() }}</td>
				<td>{{ data.event_timeStart.time() }}</td>
				<td>{{ data.event_timeEnd.time() }}</td>
                <td>
                    <a href="/delete/{{data.id}}"><button class="btn btn-outline-dark"type="submit">Delete</button></a>
                    <a href="/edit/{{data.id}}"><button class="btn btn-outline-dark" type="submit">Edit</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
	</p>




{% endblock %}:
