{% extends "base.html" %}

{% block content %}

    <h1>Hi {{user.username}} </h1>
	<br><h2> Your schedules <h2>
<p>
	<table>
        <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Starting Time</th>
			<th>Ending Time</th>
			<th>Actions</th>
        </tr>
        {% for data in e %}
            <tr>
                <td>{{ data.event_name }}</td>
                <td>{{ data.event_date.date() }}</td>
				<td>{{ data.event_timeStart }}</td>
				<td>{{ data.event_timeEnd }}</td>
                <td>
                    <a href="/delete/{{data.id}}">Delete</a>
                    <br>
                    <a href="/edit/{{data.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
	</p>





{% endblock %}: