{% extends "base.html" %}

{% block content %}

    <h1>Hi {{user.username}} </h1>
	<br><h2> Your schedules <h2>
<p>
	<table class="table table-striped">
        <tr>
            <th> Event </th>
            <th> Date </th>
            <th> Starting Time </th>
			<th> Ending Time </th>
		
        </tr>
        {% for data in k %}
            <tr>
                <td>{{ data.event_name }}</td>
                <td>{{ data.event_date.date() }}</td>
				<td>{{ data.event_timeStart.time() }}</td>
				<td>{{ data.event_timeEnd.time() }}</td>

            </tr>
        {% endfor %}
    </table>
	</p>




{% endblock %}:
